body{
margin:0;
font-family:Arial;
background:#f4f6f9;
}

.login-body{
display:flex;
justify-content:center;
align-items:center;
height:100vh;
background:#1e293b;
}

.login-container{
background:white;
padding:30px;
border-radius:10px;
text-align:center;
}

input{
display:block;
width:100%;
padding:10px;
margin:10px 0;
}

button{
padding:10px;
cursor:pointer;
}

.sidebar{
width:200px;
height:100%;
position:fixed;
background:#111827;
color:white;
padding:20px;
}

.sidebar a, .sidebar button{
display:block;
margin:10px 0;
color:white;
background:none;
border:none;
cursor:pointer;
}

.content{
margin-left:220px;
padding:20px;
}

table{
width:100%;
background:white;
}

td,th{
padding:10px;
border-bottom:1px solid #ccc;
}
